/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #363042; /* dark-grey-purple background */
    color: #fff; /* white text */
}

/* Add styling for mobile message */
.mobile-message {
    background-color: #ff0000; /* Red background color */
    color: #fff; /* White text color */
    text-align: center;
    padding: 10px;
    display: none; /* Initially hide the message */
}

/* Media query to hide inventory and crafting container on smaller screens */
@media only screen and (max-width: 767px) {
    #craftButton {
        display: none;
    }
    .crafting-slot,
    .inventory,
    .crafting-container {
        display: none; /* Hide these elements on smaller screens */
    }
}

/* Media query to display the message only on smaller screens */
@media only screen and (max-width: 767px) {
    .mobile-message {
        display: block; /* Show the message on smaller screens */
    }
}

/* Add styling for search input */
#searchInput {
    width: calc(20% - 40px); /* Adjust width based on inventory width and padding */
    padding: 10px;
    margin: 20px 20px 0; /* Adjust top margin based on spacing preference */
    border: none;
    border-radius: 5px;
    background-color: #48405b; /* Darker background color */
    color: #fff;
    z-index: 1; /* Ensure the search input appears above other elements */
}

#searchInput::placeholder {
    color: #bfbfbf; /* Lighter placeholder color */
}

/* Add styling for inventory */
.inventory {
    width: 20%; /* take up 20% of the screen horizontally */
    height: calc(100vh - 80px); /* take up 100% of the screen vertically minus space for Discord banner and padding */
    position: fixed; /* stay fixed on the left side */
    left: 0;
    top: 0;
    padding: 20px;
    padding-bottom: 60px; /* Adjust as needed based on the height of the banner */
    overflow-y: auto; /* add scrollbar if content overflows */
    z-index: 0; /* Ensure the inventory is behind the search input */
}

.inventory div {
    margin-bottom: 10px;
}

/* Style for crafting container */
.crafting-container {
    width: 80%; /* take up 80% of the screen horizontally */
    height: calc(100vh - 80px); /* take up 100% of the screen vertically minus space for Discord banner and padding */
    position: fixed; /* stay fixed on the right side */
    right: 0;
    top: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Style for crafting slots */
.crafting-slot {
    width: 300px; /* Larger width for crafting slots */
    height: 150px; /* Larger height for crafting slots */
    border: 2px dashed #fff;
    margin-bottom: 20px;
    text-align: center;
    line-height: 150px;
    cursor: pointer;
}

/* Button styles */
button {
    padding: 10px 20px;
    background-color: #8a2be2; /* purple */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #a14dc2; /* purple with glow on hover */
}

/* Add styling for draggable inventory items */
.inventory div.draggable {
    cursor: grab;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #fff; /* Add divider between elements */
}

/* Add styling for dragging effect */
.inventory div.dragging {
    opacity: 0.5;
}

/* Add hover effect for dropping area */
.crafting-slot.dragover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Style delete button */
.delete-button {
    background-color: #ff4d4d; /* Red color */
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #ff6666; /* Lighter shade of red on hover */
}

/* Add styling for newly created items */
.new-item-indicator {
    background-color: #363042; /* Orange color for indicator */
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Add styling for Discord button */
.discord-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #691fad; /* Discord theme color */
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.discord-button {
    margin: 0 auto;
    display: inline-block;
}

.discord-button a {
    display: inline-block;
    padding: 10px;
    background-color: #691fad; /* Discord theme color */
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.discord-button a:hover {
    background-color: #5b1d96; /* Darker Discord theme color on hover */
}
